---
layout: default
layout_fullwidth: true
permalink: /challenges/index.html
---

{% for item in site.challenges %}
{% if item.previous.core_challenge %}{% if item.core_challenge %}{% else %}
<section class="container section-header">Extension Challenges</section>
{% endif %}{% endif %}

<a href="{{ item.url | relative_url }}">
  <section class="hero article-hero" style="{% if item.header_bg %}background-color: {{item.header_bg}};{% endif %}">
    <div class="container hero-content" style="{% if item.header_img %}background-image: url({{ item.header_img | relative_url }}); {% endif %}">
      <h1 class="hero-heading pad-bottom">{% if item.core_challenge %}<sup class="beta"> {{item.core_challenge}}. </sup>{% endif %}{{item.title}}{% if item.beta %}<sup class="beta"> &beta;</sup>{% endif %}</h1>
      <p class="hero-subtitle pad-bottom">{{item.description}}</p>
      
      <div class="article-summary-list">
        {% if item.language %}
        <dl>
          <dt>Language</dt>
          <dd>{{item.language}}</dd>
        </dl>
        {% endif %}
        {% if item.est_time %}
        <dl>
          <dt>Est. Time</dt>
          <dd>{{item.est_time}}</dd>
        </dl>
        {% endif %}
        {% if item.difficulty %}
        <dl>
          <dt>Difficulty</dt>
          <dd>{{item.difficulty}}</dd>
        </dl>
        {% endif %}
      </div>
    </div>
  </section>
</a>
{% endfor %}
