<header role="banner">
  <nav class="container" role="navigation">
    <ul>
      <li class="logo">
        <a href="{{ '/' | relative_url }}">
          <img alt="Hedgehog Bot" src="{{ '/assets/media/hedgehog-logo.svg' | relative_url }}">
        </a>
      </li>
      <span class="u-pull-right hidden-mobile hidden-print">
        <li>
          <a href="{{ '/challenges' | relative_url }}">Get Started</a>
        </li>
        <li>
          <a href="{{ '/about' | relative_url }}">About<span class="hidden-small"> Hedgehog Bot</span></a>
        </li>
      </span>
    </ul>
  </nav>
</header>
