<header role="banner">
  <nav class="container" role="navigation">
    <ul>
      <li class="logo">
        <a href="{{ '/' | relative_url }}">
          <img alt="Outreach Workshops" src="{{ '/assets/media/hedgehog-logo.svg' | relative_url }}" style="height: 3em">
        </a>
      </li>
      <li class="u-pull-right hidden-mobile hidden-print">
        <a href="{{ '/' | relative_url }}">Get Started</a>
        <a href="{{ '/about' | relative_url }}">About</a>
      </li>
      <!-- <li class="u-pull-right hidden-mobile hidden-print">
        <a href="{{ '/about' | relative_url }}">About<span class="hidden-small"> Hedgehog Bot</span></a>
      </li> -->
    </ul>
  </nav>
</header>
