---
---

@import 'rouge';
@import 'skeleton';
@import 'primer-tooltips/index.scss';

body {
  margin: 0;
  margin-top: 8rem;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  top: 0;
  margin-bottom: -5px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.06);
  position: fixed;
  width: 100%;
  z-index: 2;
  user-select: none;
  -moz-user-select: none;
}

footer {
  padding-top: 8rem;
  padding-bottom: 6rem;
  color: #545454;
  user-select: none;
  -moz-user-select: none;
}

a {
  text-decoration: none;
  color: #1757ab;
}

img {
  border-radius: 4px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  position: relative;
  float: left;
  margin-bottom: 0;
}

nav a {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 4rem;
  text-decoration: none;
  line-height: 8rem;
  color: #222;
}

nav .u-pull-right a,
nav a.u-pull-right {
  margin-left: 4rem;
  margin-right: 0;
}

nav img {
  vertical-align: middle;
}

.a-next {
  background: no-repeat right center/5rem 5rem url({{ "/assets/media/ionicons_svg_ios-arrow-forward.svg" | relative_url }});
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 0.5rem 5.5rem 0.5rem 1.5rem;
  width: 49%;
  box-sizing: border-box;
}

.a-next span {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #222;
  opacity: 0.4;
}

.a-next h4 {
  line-height: 0.8em;
  color: #222;
  margin: 0 0 1rem 0;
}

main.container {
  padding-top: 8rem;
}

strong em,
em strong {
  color: #FF8C9A;
}

code, pre, kbd {
  font-family: "SF Mono", "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

code {
  overflow-x: auto;
}

.hero-content {
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #2B2B2B;
  user-select: none;
  -moz-user-select: none;
}

.hero.article-hero .hero-content {
  text-align: left;
  text-align: unset;
  padding-right: 375px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 40%;
}

.hero .column,
.hero .columns {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

dl.article-summary-list:after {
  content: '';
  display: table;
  clear: left;
}

dl.article-summary-list {
  margin: 0;
}

.article-summary-list > div {
  float: left;
  margin-right: 2.4rem;
}

.article-summary-list dt {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 0.96rem;
}

.article-summary-list dd {
  text-transform: capitalize;
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-left: 0;
  padding-left: 0;
}

.article-container {
  border-bottom: 1px solid #efefef;
  padding-bottom: 8rem;
}

.article-container ol {
  list-style: decimal outside;
  // list-style-type: katakana-iroha;
}

.article-container ol li {
  padding-left: 1em;
}

.article-container > ol { 
  counter-reset: art-ol-counter;
  list-style-type: none !important;
}

.article-container > ol > li::before,
.article-container .completion::before {
  font-weight: bolder;
  font-size: 1.6rem;
  text-align: center;
  border: 1px solid;
  border-radius: 9999px;
  width: 6rem;
  line-height: 6rem;
  padding: 0;
  margin-right: 8rem;
  margin-left: -14rem;
  margin-top: -2rem;
  float: left;
}

.article-container > ol > li::before {
  content: counter(art-ol-counter);
  color: #545454;
}

.article-container > ol > li,
.article-container .completion li {
  padding-top: 2rem;
  margin-bottom: 6rem;
  padding-left: 14rem;
}

.article-container > ol > li {
  counter-increment: art-ol-counter;
}

.article-container > ol > li h4,
.article-container .completion li h4 {
  margin-top: -1.1rem;
}

.article-container .completion li::before {
  content: '✓';
  font-size: 3rem;
  color: #99b850;
}

a.download {
  white-space: nowrap;
}

a.clippy {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin-left: -1.5em;
  margin-right: 0.625em;
  cursor: pointer;
}

pre {
  position: relative;
}

pre > a.clippy {
  position: absolute;
  top: 0;
  right: 0;
}

a.download:before,
a.clippy i:before,
i:before {
  content: '';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

a.download:before {
  background-image: url({{ '/assets/media/ionicons_svg_ios-code-download.svg' | relative_url}});
  margin-right: 0.375em;
  margin-top: -0.2em;
  width: 1.5em;
  height: 1.5em;
}

i.vscode-extensions:before {
  background-image: url({{ '/assets/media/icons_svg_vscode-extensions.svg' | relative_url}});
  margin-left: 0.125em;
  width: 1.25em;
  height: 1.25em;
}

i.arduino-upload:before {
  background-image: url({{ '/assets/media/icons_svg_arduino-upload.svg' | relative_url}});
  margin-left: 0.125em;
  width: 1.25em;
  height: 1.25em;
}

code.clip-target {
  padding-right: 1.875em;
}

a.clippy i:before {
  cursor: pointer;
  background-image: url({{ '/assets/media/octicon_svg_clippy.svg' | relative_url}});
  margin-top: -0.2em;
  width: 0.875em;
  height: 1em;
  opacity: 0.16;
}

a.clippy:hover i:before {
  opacity: 0.4;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  list-style: none;
  margin-left: -1%;
  margin-right: -1%;
  margin-bottom: -2%;
}

.card-list > * {
  flex: 0 0 auto;
  width: 31.3%;
  box-sizing: border-box;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.article-container ol .card-list > li {
  padding-left: 0;
}

.card-list > * > p {
  margin: 0 0 0.25em 0;
  padding: 0.5em;
}

.card-list > * > img,
.card-list > * > p > img {
  border-radius: 0;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.06);
}

.hero {
  background-color: #F4F6FF;
}
.hero-purple {
  background-color: #F4F7FE;
}
.hero-green {
  background-color: #F0FAF8;
}
.hero-orange {
  background-color: #FCF7ED;
}
.hero-pink {
  background-color: #FAF5FF;
}

.hero-heading {
  margin-bottom: .5rem;
  letter-spacing: .01em;
}

.hero-subtitle {
  // text-transform: uppercase;
  letter-spacing: .02em;
  font-size: 1.8rem;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.hero-subtitle,
.hero-subtitle a {
  color: #545454;
}

.hero.article-hero .hero-subtitle {
  color: #2B2B2B;
  color: unset;
}

.section-header {
  margin-top: 6rem;
  margin-bottom: 8px;
  color: #545454;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.no-wrap {
  white-space: nowrap;
}

.no-padding,
.no-padding-top {
  padding-top: 0 !important;
}

.no-padding,
.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-margin,
.no-margin-top {
  margin-top: 0 !important;
}

.no-margin,
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.pad-top {
  margin-top: 3rem;
}

.pad-bottom {
  margin-bottom: 3rem;
}

.mobile-off-right {
  position: absolute;
  top: 0;
  height: 100%;
}

.mobile-off-right .u-max-full-width {
  height: 100%;
  max-width: none;
}

.requisite-warning {
  display: block;
  position: relative;
  background: #FF8C9A;
  border: 2px solid #FF8C9A;
  border-radius: 4px;
  padding: 4.8rem;
  margin-bottom: 7rem;
}

.requisite-warning > * {
  position: relative;
  z-index: 1;
}

.requisite-warning h4 {
  font-weight: 600;
  color: white;
}

.requisite-warning:not(.warning) a:hover {
  color: #2B2B2B;
}

.requisite-warning:not(.warning) a {
  display: inline-block;
  position: relative;
  z-index: 1;
  color: rgba(43, 43, 43, 0.72);
  font-weight: bolder;
}

.requisite-warning:before {
  content: "";
  background: url({{"/assets/media/hedgehog-full.svg" | relative_url}}) no-repeat 105% -2.4rem / auto 16rem;
  background-position-x: calc(100% + 2.4rem);
  background-blend-mode: multiply;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.requisite-warning.requisite-warning-kit-board-only:before,
.requisite-warning.requisite-warning-kit-all:before {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  opacity: 0.15;
}

.requisite-warning.requisite-warning-kit-board-only:before {
  background-image: url({{"/assets/media/parts-board-only.png" | relative_url}});
}

.requisite-warning.requisite-warning-kit-all:before {
  background-image: url({{"/assets/media/parts-all.png" | relative_url}});
}

.requisite-warning.warning.compact {
  padding: 1.6rem 2.4rem;
  margin-bottom: 2.5rem;
}

.requisite-warning.warning,
.requisite-warning.beta-warning {
  background-color: unset;
  border-color: #f9b986;
}

.requisite-warning.warning h4 {
  color: #f4934f;
}

.requisite-warning.beta-warning {
  border-color: #bfa0fd;
}

.requisite-warning.beta-warning h4 {
  color: #bfa0fd;
}

.requisite-warning.beta-warning:before {
  content: 'β';
  font-weight: 900;
  font-style: italic;
  font-size: 16rem;
  text-align: right;
  background: none;
  padding-right: 3rem;
  line-height: 8rem;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
}

.requisite-warning + .requisite-warning {
  margin-top: -3rem;
}

.spoiler-hidden {
  filter: blur(5px);
  opacity: 0.4;
  user-select: none;
  -moz-user-select: none;
}

.spoiler-link {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

ul.spoiler, .spoiler ul {
  list-style-position: unset;
}

.ide code {
  border-color: #17a1a5;
  border-top-width: 4px;
}

.page h4 {
  margin-top: 6rem;
}

sup.beta {
  opacity: 0.6;
  font-size: 0.5em;
}

@media (max-width: 1200px) {
  .hero.article-hero .hero-content {
    padding-right: 30%;
  }
}

@media (max-width: 1080px) {
  .card-list > * {
    width: 48%;
  }
}

@media (max-width: 750px) {
  .hidden-small {
    display: none;
  }

  .hero-content {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .article-container > ol > li::before,
  .article-container .completion li::before {
    margin-left: -12rem;
    margin-right: 6rem;
  }

  .article-container > ol > li,
  .article-container .completion li {
    padding-left: 12rem;
    margin-bottom: 4rem;
  }

  .card-list > * {
    width: 98%;
  }
}

@media (max-width: 550px) {
  body {
    margin-top: 0;
  }

  header {
    position: relative;
  }

  header li {
    text-align: center;
    float: none;
  }

  header a {
    margin-right: 0;
  }

  .mobile-off-right {
    left: 80%;
  }

  .mobile-pad-right {
    padding-right: 20%;
  }

  .hidden-mobile {
    display: none;
  }

  .hero.article-hero .hero-content {
    padding-right: 20px;
    background-size: 0 0;
  }

  .article-container > ol {
    list-style: decimal outside;
    // list-style-type: katakana-iroha;
  }

  .article-container .completion {
    list-style: none;
  }

  .article-container > ol > li::before {
    display: none;
  }

  .article-container > ol > li {
    margin-left: 2em;
    padding-left: 1em;
  }

  .article-container .completion li {
    margin-left: unset;
    padding-left: unset;
  }

  .requisite-warning:before {
    display: none;
  }

  .a-next {
    width: 100%;
  }
}

@media print {
  .hidden-print,
  a.clippy {
    display: none;
  }

  :not(.logo) > a:not([href^="javascript:"]),
  .video-iframe:after,
  pre {
    font-weight: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }

  :not(.logo) > a:not([href^="javascript:"]):after {
    content: " [" attr(href) "]";
    color: #b8b8b8;
    font-size: 0.8em;
  }

  .video-iframe:after {
    content: "[ VIDEO: " attr(data-src) " ]";
    display: block;
  }
  
  .video-iframe * {
    display: none;
  }

  :root {
    font-size: 6.25pt;
  }

  body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
  }

  header {
    direction: rtl;
    display: block;
    position: relative;
  }

  header .logo {
    float: right;
  }

  header .logo a {
    margin-right: 0;
  }

  .container {
    width: 100%;
  }

  main.container {
    padding-top: 4rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .hero-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .hero.article-hero .hero-content {
    padding-right: 0;
    background: none !important;
  }

  .requisite-warning {
    padding: 1.6rem 2.4rem;
    page-break-inside: avoid;
  }

  .requisite-warning:before {
    background: none;
  }

  .spoiler-hidden {
    filter: unset;
    opacity: 1;
  }

  .spoiler-link {
    position: inherit;
  }

  a.download:before,
  i:before {
    background: none;
  }

  a.download:before {
    content: url({{ '/assets/media/ionicons_svg_ios-code-download.svg' | relative_url}});
  }

  i.vscode-extensions:before {
    content: url({{ '/assets/media/icons_svg_vscode-extensions.svg' | relative_url }});
  }

  i.arduino-upload:before {
    content: url({{ '/assets/media/icons_svg_arduino-upload.svg' | relative_url }});
  }

  .article-container > ol > li,
  .article-container .completion li {
    page-break-inside: avoid;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .article-container > ol > li::before,
  .article-container .completion li::before {
    content: '';
    margin-left: unset;
    margin-right: unset;
    margin-top: unset;
    border: none;
  }

  .article-container > ol > li > h4,
  .article-container .completion li > h4 {
    line-height: 6rem;
    clear: both;
  }

  .article-container > ol > li > h4::before,
  .article-container .completion li > h4::before {
    font-weight: bolder;
    font-size: 1.6rem;
    text-align: center;
    border: 1px solid;
    border-radius: 9999px;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    padding: 0;
    margin-right: 2rem;
    float: left;
  }

  .article-container > ol > li > h4::before {
    content: counter(art-ol-counter);
    color: #545454;
  }

  .article-container > .completion li > h4::before {
    content: '✓';
    font-size: 3rem;
    color: #99b850;
  }

  pre, code {
    position: initial;
    page-break-before: avoid;
    white-space: pre-wrap;
    overflow-x: unset;
  }

  .u-max-full-width {
    max-height: 50%;
    max-width: 100%;
  }

  footer {
    font-size: 8pt;
    padding-top: 4rem;
    padding-bottom: 0;
  }

  ul.card-list {
    display: unset;
    flex: unset;
    width: 100%;
  }

  ul.card-list > * {
    display: inline-block;
    flex: unset;
    vertical-align: top;
    width: 22.5%;
  }

  ul.card-list .u-max-full-width {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}

@page {
  size: auto;
  margin: 4.63cm 2cm;
}

@page :first {
  margin-top: 1.5cm;
}
