doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(property='og:title', content='Hedgehog Bot')
    meta(name='author', content='University of Bristol Outreach')
    meta(name='description', content='Hedgehog Bot is a build-it-yourself IOT (Internet-of-Things) robot kit. Designed for anyone aged 10 and above to help learn how to program and to build electronics.')
    meta(property='og:description', content='Hedgehog Bot is a build-it-yourself IOT (Internet-of-Things) robot kit. Designed for anyone aged 10 and above to help learn how to program and to build electronics.')
    meta(name='keywords', content='arduino tutorial, programming, robot, wifi, esp8266, hedgehog, iot, bristol, digimakers')
    link(rel='apple-touch-icon', sizes='57x57', href='http://www.hedgehogbot.co.uk/img/favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='http://www.hedgehogbot.co.uk/img/favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='http://www.hedgehogbot.co.uk/img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='http://www.hedgehogbot.co.uk/img/favicon/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='http://www.hedgehogbot.co.uk/img/favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='http://www.hedgehogbot.co.uk/img/favicon/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='http://www.hedgehogbot.co.uk/img/favicon/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='http://www.hedgehogbot.co.uk/img/favicon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='http://www.hedgehogbot.co.uk/img/favicon/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='http://www.hedgehogbot.co.uk/img/favicon/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='http://www.hedgehogbot.co.uk/img/favicon/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='http://www.hedgehogbot.co.uk/img/favicon/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='http://www.hedgehogbot.co.uk/img/favicon/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='http://www.hedgehogbot.co.uk/img/favicon/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='http://www.hedgehogbot.co.uk/img/favicon/manifest.json')
    link(rel='mask-icon', href='http://www.hedgehogbot.co.uk/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    link(rel='shortcut icon', href='http://www.hedgehogbot.co.uk/img/favicon/favicon.ico')
    meta(name='msapplication-TileColor', content='#2d89ef')
    meta(name='msapplication-TileImage', content='http://www.hedgehogbot.co.uk/img/favicon/mstile-144x144.png')
    meta(name='msapplication-config', content='http://www.hedgehogbot.co.uk/img/favicon/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')
    meta(property='og:image', content='http://www.hedgehogbot.co.uk/img/social/fbimage.jpg')
    meta(property='og:url', content='http://www.hedgehogbot.co.uk/')
    meta(property='og:type', content='website')
    link(rel='stylesheet', href='./Hedgehog Bot_files/style-151115.css', type='text/css')
    link(rel='stylesheet', href='./Hedgehog Bot_files/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='./assets/head-041115.js')
    script(src='https://apis.google.com/js/platform.js', async='', defer='')
  body
    //Menu
    #social-links.teal-background
      #social-links-inner
        #fb-root.fb_reset
          div(style='position: absolute; top: -10000px; height: 0px; width: 0px')
            div
              iframe#fb_xdm_frame_http(name='fb_xdm_frame_http', frameborder='0', allowtransparency='true', allowfullscreen='', scrolling='no', aria-hidden='true', title='Facebook Cross Domain Communication Frame', tabindex='-1', src='./Hedgehog Bot_files/xd_arbiter.html', style='border: none')
              iframe#fb_xdm_frame_https(name='fb_xdm_frame_https', frameborder='0', allowtransparency='true', allowfullscreen='', scrolling='no', aria-hidden='true', title='Facebook Cross Domain Communication Frame', tabindex='-1', src='./Hedgehog Bot_files/xd_arbiter(1).html', style='border: none')
          div(style='position: absolute; top: -10000px; height: 0px; width: 0px')
            div
        .fb-like.fb_iframe_widget(data-href='http://www.hedgehogbot.co.uk/', data-layout='button_count', data-action='like', data-show-faces='false', data-share='false', fb-xfbml-state='rendered', fb-iframe-plugin-query='action=like&app_id=&container_width=0&href=http%3A%2F%2Fwww.hedgehogbot.co.uk%2F&layout=button_count&locale=en_US&sdk=joey&share=false&show_faces=false')
          span(style='vertical-align: bottom; width: 78px; height: 20px')
            iframe(name='ff7322e6880e8', width='1000px', height='1000px', frameborder='0', allowtransparency='true', allowfullscreen='', scrolling='no', title='fb:like Facebook Social Plugin', src='./Hedgehog Bot_files/like.html', style='border: none; visibility: visible; width: 78px; height: 20px')
        .twitter-share
          iframe#twitter-widget-0.twitter-share-button.twitter-share-button-rendered.twitter-tweet-button(scrolling='no', frameborder='0', allowtransparency='true', title='Twitter Tweet Button', src='./Hedgehog Bot_files/tweet_button.fd774b599f565016d763dd860cb31c79.en.html', style='position: static; visibility: visible; width: 60px; height: 20px', data-url='http://www.hedgehogbot.co.uk/')
        #___plusone_0(style='text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px; background: transparent')
          iframe#I0_1460383337867(frameborder='0', hspace='0', marginheight='0', marginwidth='0', scrolling='no', style='position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px', tabindex='0', vspace='0', width='100%', name='I0_1460383337867', src='./Hedgehog Bot_files/fastbutton.html', data-gapiattached='true', title='+1')
    #header.light-grey-background
      a(href='http://www.hedgehogbot.co.uk')
        img(src='./assets/media/logo.png', alt='Hedgehog Bot')
    .content-section-container
      #footer.content-section
        p
          | © 2017 a.teal(href='http://www.bristol.ac.uk/engineering/contact/school-dept.html', target='_blank') University of Bristol, SCEEM Outreach
    script(src='./Hedgehog Bot_files/body-041115.js')
    iframe#oauth2relay707887028(name='oauth2relay707887028', src='./Hedgehog Bot_files/postmessageRelay.html', tabindex='-1', style='width: 1px; height: 1px; position: absolute; top: -100px')
    iframe#rufous-sandbox(scrolling='no', frameborder='0', allowtransparency='true', allowfullscreen='', style='position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none')
