<!DOCTYPE html> <html lang="en"><head><meta http-equiv="Content-Type"
    content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hedgehog Bot</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords | join: ", " }}">
    <link rel="canonical" href="{{ site.url }}" />

    {% assign favicon_sizes = "57, 60, 72, 76, 114, 120, 144, 152, 180" | split: ", " %}
    {% for size in favicon_sizes%}
    <link rel="apple-touch-icon" sizes="{{ size }}x{{ size }}"
      href="/img/favicon/apple-touch-icon-{{ size }}x{{ size }}.png">
    {% endfor %}

    <link rel="manifest" href="/img/favicon/manifest.json">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">

    <!-- opengraph properties: http://ogp.me/ -->
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ site.url }}/img/social/fbimage.jpg">
    <meta property="og:description" content="{{ site.description }}">

    <link rel="stylesheet" href="/assets/style/style-151115.css" type="text/css">
    <link rel="stylesheet" href="/assets/style/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="./assets/script/head-041115.js"></script>

    <!-- twitter button -->
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
      }(document, "script", "twitter-wjs"));</script>
    <!-- fb button -->
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs); }(document, 'script',
    'facebook-jssdk'));</script>
    <!-- g plus button js -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <!--Menu-->
    <div id="social-links" class="teal-background">
      <div id="social-links-inner">
        {% include social-fb.html %}
        {% include social-twitter.html %}
      </div>
    </div>

    <header class="light-grey-background">
      <a href="/"><h1>Hedgehog Bot<h1></a>
    </header>

    <article>
    {{ content }}
    </article>

    <div class="content-section-container">
      <div id="footer" class="content-section">
          <p>©2017 <a class="teal" href="http://www.bristol.ac.uk/engineering/about/school-sceem/">University of Bristol SCEEM Outreach</a></p>
      </div>
    </div>
  </body>
</html>
